{
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true
  },
  "plugins": ["prettier"],
  "extends": ["prettier", "airbnb"],
  "rules": {
       "prettier/prettier": "error"
  }
}